<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtered Technicians List</title>
    <link rel="stylesheet" href="../CSS/technician_list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Technicians Offering <%= service %> Service Near You</h1>

    </header>
    <div class="container">
        
        <ul class="technician-list">
            <% technicianlist.forEach(technician => { %>
            <li class="technician-item">
                <div class="technician-info">
                    <h2>Name: <%= technician.firstName %> <%= technician.lastName %></h2>
                    <h2>Contact: <%= technician.name %></h2>
                    <% 
                    var distanceInKm = technician.distance;
                    var distanceDisplay;
                    if (distanceInKm < 1) {
                        var distanceInMeter = (distanceInKm * 1000).toFixed(2); // Convert kilometers to meters and round off to 2 decimal places
                        distanceDisplay = distanceInMeter + " meters";
                    } else {
                        distanceDisplay = distanceInKm.toFixed(2) + " km"; // Round off to 2 decimal places
                    }
                    %>
                    <h2>Distance: <%= distanceDisplay %></h2>
                    <a href="/t_profile/<%= technician._id %>">View Profile</a>

                </div>
            </li>
            <% }) %>
        </ul>
    </div>
    <div class="profile-modal">


        
    </div>
    <script src="../JS/technician_list.js"></script>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtered Technicians</title>
    <link rel="stylesheet" href="../CSS/filter_technician.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <h1>Technicians Offering <%= service %> Service Near You</h1>
    </header>



    <div class="f-button">
        <a href="/sfilter?service=<%= service %>">Filter Technicians by Sentiment</a>
    </div>



    <div class="container">
        <% technicianlist.forEach(technician => { %>
        <div class="list">
            <!-- <img src="<%= technician.image %>" alt="<%= technician.firstName %> <%= technician.lastName %>"> -->
            <img src="<%=  generateInitialsImage(technician.firstName, technician.lastName) %>"
                alt="<%= technician.firstName %> <%= technician.lastName %>">

            <div class="list-details">
                <h2><%= technician.firstName %> <%= technician.lastName %></h2>
                <h2>Contact: <%= technician.name %></h2>
                <% 
                    var distanceInKm = technician.distance;
                    var distanceDisplay;
                    if (distanceInKm < 1) {
                        var distanceInMeter = (distanceInKm * 1000).toFixed(2); // Convert kilometers to meters and round off to 2 decimal places
                        distanceDisplay = distanceInMeter + " meters";
                    } else {
                        distanceDisplay = distanceInKm.toFixed(2) + " km"; // Round off to 2 decimal places
                    }
                    %>
                <h2>Distance: <%= distanceDisplay %></h2>
                <!-- <a href="/t_profile/<%= technician._id %>">View Profile</a> -->
                <a href="/t_profile/<%= technician._id %>" style="pointer-events: all !important;">View Profile</a>
            </div>
        </div>
        <% }) %>
    </div>

</body>

</html>