

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/technician_list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <title>Technicians List</title>
</head>

<body>
    <header>
        <h1>Technicians Offering <%= service %> Service</h1>
    </header>
    <!-- <button id="filterButton">Filter Technicians</button>
    <script>
        // Add event listener to the filter button
        document.getElementById('filterButton').addEventListener('click', function () {
            // Redirect to the /filter route
            window.location.href = '/filter?service=<%= service %>';
        });
    </script> -->
    <a href="/filter">Filter Technician</a>




    <div class="container">
        <ul class="technician-list">
            <% technicianlist.forEach(technician => { %>
            <li class="technician-item">
                <div class="technician-info">
                    <h2>Name: <%= technician.firstName %> <%= technician.lastName %></h2>
                    <h2>Contact: <%= technician.name %></h2>
                    <!-- <p class="location" data-latitude="<%= technician.latitude %>" data-longitude="<%= technician.longitude %>">Adress: <%= technician.location %></p> -->
                    <!-- <p class="location" data-coordinates='<%= JSON.stringify(technician.location) %>'>Adress: <%= technician.location %></p> -->
                </div>
            </li>
            <% }) %>
        </ul>
    </div>

</body>

</html>